.header,
.content {
  background-color: rgb(250, 194, 229);
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
}
.limit-min,
.limit-max {
  display: block;
  margin: 15px auto;
}
.game-display__elem,
.reset-display {
  margin: 15px;
}
